/* --- */
/* Override Skeleton */
.container {
    max-width: 650px;
}
/* --- */

body {
    margin-top: 3%;
    background-color: lightgray;
}

a {
    color: #10198f;
}

a.external {
    background: url('../images/external_link.svg') top right no-repeat;
    background-size: 11px;
    padding-right: 11.5px;
}

p {
    font-size: large;
}
