/* --- */
/* Override Skeleton */
.container {
    max-width: 650px;
}
/* --- */

html {
    height: 100%;  /* So that the background image goes down to the bottom */
}

body {
    background: url('../images/background.jpg');
    background-size: auto cover;  /* So that the background image goes down to the bottom */
    background-repeat: no-repeat;
    background-position: 65%;  /* So that the background image displays me on phones */
}

@media (min-height: 1000px) {
    body {
        background-size: cover;
    }
}

@media (min-width: 800px) {
    body {
        background-position: 50% auto;  /* Makes sure it's in the middle */
    }
}

@media (min-width: 1000px) {
    body {
        background-size: cover;
    }
}

.columns {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 1.7em;
    padding-left: 10%;
    padding-right: 10%;
    background: rgba(255, 255, 255, 0.7);
}

#main-column {
    margin-top: 20%;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    background: linear-gradient(white, rgba(255, 255, 255, 0.7));
}

#link-column {
    text-align: center;
}

a {
    color: #10198f;
}

a.external {
    background: url('../images/external_link.svg') top right no-repeat;
    background-size: 11px;
    padding-right: 11.5px;
}

p {
    font-size: large;
}
